name: Deploy Live

on: push

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy live app
        run: |
          curl -X POST --data "environment=${{ secrets.DIVIO_LIVE_ENVIRONMENT_UUID }}" --header "Authorization: Token ${{ secrets.DIVIO_API_TOKEN }}" https://api.divio.com/apps/v3/deployments/
